<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzn1ezY_WKEJy_fJ3QjErCUREeYy00VjY</string>
	<key>GCM_SENDER_ID</key>
	<string>230659502620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reyy.cinema</string>
	<key>PROJECT_ID</key>
	<string>reyy-cinema-logkar</string>
	<key>STORAGE_BUCKET</key>
	<string>reyy-cinema-logkar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230659502620:ios:273a638b80621a111665d9</string>
</dict>
</plist>